.calender {
  width: 18rem;
  height: 17rem;
  padding: 0.5rem;
  margin-top: 1.35rem;
  background-color: var(--primary-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.calender > h3 {
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-color-dark);
}
.calender > div {
  border: 1px solid black;
  width: 17rem;
  height: 100%;
}
