.description {
  width: 20rem;
  min-height: 9rem;
  padding: 1.3rem;
  background-color: var(--primary-color);
  border-radius: 20px;
}
.description > h3 {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color-dark);
}
.description > p {
  font-weight: 400;
  font-size: 15px;
}
