.progress {
  height: 21rem;
  width: 20rem;
}
.heading {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color-dark);
}
.progressList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.progressCard {
  height: 5rem;
  width: 20rem;
  background-color: var(--primary-color);
  margin-bottom: 0.5rem;
  border-radius: 20px;
}
