.container {
  width: 292px;
  height: 407px;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin-top: 22px;
  margin-bottom: 30px;
  padding: 24px;
}
.heading {
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-color-dark);
}
.heading > span {
  font-weight: 400;
}
.events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 240px;
}
.eventList {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
.event {
  width: 192px;
  height: 72px;
  background-color: var(--primary-color-light);
  border-radius: 15px;
}
