.container {
  width: 18rem;
  height: 22rem;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin-top: 1.375rem;
  margin-bottom: 1.8rem;
  padding: 0.5rem;
}
.heading {
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-color-dark);
}
.heading > span {
  font-weight: 400;
}
.events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 240px;
}
.eventList {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
.event {
  width: 12rem;
  height: 4.5rem;
  background-color: var(--primary-color-light);
  border-radius: 15px;
}
