.tasks {
  margin-top: 1rem;
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab {
  font-weight: 400;
  font-size: 16px;
  padding: 0.4rem;
}
.tab:hover {
  font-weight: 700;
}

.taskList {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.task {
  width: 20rem;
  min-height: 12rem;
  margin-top: 1rem;
  background-color: var(--primary-color);
  border-radius: 20px;
}
