.tasks {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab {
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
}
.tab:hover {
  font-weight: 700;
}

.taskList {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.task {
  width: 250px;
  height: 200px;
  background-color: var(--primary-color);
  border-radius: 20px;
}
