.profile {
  width: 12rem;
  height: 11.5rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.8rem;
}
.imgContainer {
  height: 57px;
  width: 57px;
  border-radius: 50%;
  background-color: var(--primary-color-dark);
}
.name {
  margin-top: 1.2rem;
  margin-bottom: 0.625rem;
  font-weight: 700;
  font-size: 16px;
}
.email {
  font-weight: 400;
  font-size: 12px;
}
