.analytics {
  width: 20rem;
  height: 21rem;
  background-color: var(--primary-color);
  border-radius: 30px;
}
.heading {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color-dark);
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
