.center {
  max-width: 50rem;
  width: 43rem;
  margin: 2rem 1.25rem;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  /* align-self: left; */
  width: 100%;
}

.centerPannel {
  flex-grow: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.columnOne {
  height: 100%;
  width: 22rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.columnTwo {
  height: 100%;
  width: 22rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
